.glass-container {
    color: #ffffff;
    background: rgba(211, 211, 211, 0.3);
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    backdrop-filter: blur(5px);
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.blur {
    min-height: calc(100% - 62px);
    max-width: inherit;
    backdrop-filter: blur(5px);
    padding: 20px 300px;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
    overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar-css::-webkit-scrollbar-button {
    background-color: rgba(255, 255, 255, 0);
    height: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
    display: none;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-image: radial-gradient(circle, rgba(228,228,228,0.5) 68%, rgba(145,145,145,0.5) 100%);
}

.main-container{
    align-items: flex-start;
}

.info {
    background: rgba(0, 0, 0, 0.3);
    height: auto;
}

.info .stats{
    border-color: rgba(255, 255, 255, 0.14) !important;
}

.info .stats table{
    margin: 0;
}

.info .stats table td{
    background: rgba(255, 255, 255, 0);
    color: #ffffff;

}

.feed {

}

.feed .create-post {
    width: 100%;
    /*background: rgba(189, 224, 254, 0.51);*/
    background: rgba(156, 164, 255, 0.51);
    border-radius: 5px;
}

.feed .create-post .profile-pic {
    padding: 0;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.feed .create-post .profile-pic img {
    display: block;
    width: 100%;
}

.feed .create-post textarea {
    overflow: hidden;
    background: rgba(26, 29, 32, 0);
    border: none;
    color: #ffffff;
    resize: none;
    height: 40px;
    font-size: 20px;
}

.feed .create-post select, .feed .create-post textarea:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

.feed .create-post textarea::-webkit-resizer {
    display: none;
}

.feed .create-post textarea::placeholder {
    color: #dcdcdc;
    font-size: 20px;
}

.feed .create-post select {
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: underline;
}

.feed .create-post select:hover{
    color: #dddddd;

}

.feed .create-post select option {
    margin: 40px;
    background: #232323;
    color: #ffffff;
}

.feed .create-post #create-post-btn {
    background: #5866d7ff;
    color: #ffffff;
    border: none;
    max-height: 38px;
}

.feed .create-post #create-post-btn:hover {
    background: #3f4bbc;

}

.feed .create-post .add-image-post {
    color: #ffffff;
    max-height: 38px;
}

.feed .create-post .add-image-post #post-images{
    display: none;
}

.feed .create-post #image-preview-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feed .create-post #image-preview-container .preview-image-slot{
    position: relative;
}

.feed .create-post #image-preview-container .preview-image{
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.feed .create-post #image-preview-container .remove-image-button{
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feed .posts .post {
    width: 100%;
    background: rgba(40, 50, 144, 0.38);
}

.feed .post .head {
    display: flex;
    justify-content: space-between;
}

.feed .post .user {
    display: flex;
    gap: 1rem;
    border-color: rgba(255, 255, 255, 0.14) !important;
}

.feed .post .profile-pic {
    padding: 0;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.feed .post .profile-pic img {
    display: block;
    width: 100%;
}

.feed .post .photo {
    border-radius: 5px;
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .post .post-info {
    font-size: 14px;
}

.feed .post .post-content {
    overflow: hidden;
    display: block;
    line-height: 1.2em;
    max-height: 3.6em; /* Высота строки умноженная на количество строк для отображения */
    text-align: justify;
}

.feed .post .show-more {
    display: none; /* Скрываем кнопку по умолчанию */
    cursor: pointer;
    color: #82cde1;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
}

.feed .post .show-more:hover {
    color: #64cbdf;
}

.feed .post .pictures{
    max-height: 384px;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
}

.feed .post .pictures .blur-bg{
}

.feed .post .pictures img{
    max-height: 384px;
    object-fit: contain;
    backdrop-filter: blur(10px);
}

