.wall {
    color: #ffffff;
    /*width: 100%;*/
    max-width: inherit;
    height: 500px;
    background: rgba(211, 211, 211, 0.3);
    display: flex;
    border-radius: 10px;
    padding: 50px 90px;
    flex-direction: row;
    backdrop-filter: blur(5px);
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
    /*border: double 10px #dad65b;*/
}

.wall .profile-image{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.wall .profile-image img {
    width: 256px;
    height: 256px;
    /*border: solid 4px rgba(255, 237, 160, 0.51);*/
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
    border-radius: 20px;
}

.wall .profile-image .upd-profile-picture {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    margin-top: 15px;
    background: #e13d3d;
    border: solid 2px #aa2929;
    border-radius: 5px;
    transition: all .1s linear;
}

.wall .profile-image .upd-profile-picture:hover{
    background: #e14848;
    border: solid 2px #b52d2d;
    /*cursor: pointer;*/
}


.wall .profile-image .upd-profile-picture:hover .upd-profile-picture-text{
    /*transform: scale(1.04);*/
    color: #f8dada;

}

.wall .profile-image .upd-profile-picture:hover .icon{
    color: #f8dada;
}

.wall .profile-image .upd-profile-picture .icon{
    transform: scale(1.3);
    margin-right: 20px;
    transition: all .1s linear;

}

.wall .profile-username{
    margin-left: 70px;
    font-size: 64px;
    font-weight: 600;
}

.wall .modal{
    width: 400px;
    /*height: 200px;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    /*border: solid 1px #dad65b;*/
    background: rgba(78, 70, 92, 0.76);
    backdrop-filter: blur(5px);
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.wall .modal .modal-content .close{
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0  10px;
    font-size: 32px;
}

.wall .modal .modal-content .close:hover{
    cursor: pointer;
    color: #ffa3a3;
}

.crop-container{
    display: none;
    width: 330px;
    height: 330px;
    align-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}
.crop-container img {
    max-width: 100%;
}

.wall .modal .modal-content #uploadForm{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wall .modal .modal-content #uploadForm *{
    margin-bottom: 20px;
}

.wall .modal .modal-content #uploadForm .input-file {
    position: relative;
    display: inline-block;
}
.wall .modal .modal-content #uploadForm .input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.1s;
}
.wall .modal .modal-content #uploadForm .input-file-text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
    font-size: 18px;
}
.wall .modal .modal-content #uploadForm .input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.wall .modal .modal-content #uploadForm .input-file input[type=file]:focus + .input-file-btn {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.wall .modal .modal-content #uploadForm .input-file:hover .input-file-btn {
    background-color: #59be6e;
}
.wall .modal .modal-content #uploadForm .input-file:active .input-file-btn {
    background-color: #2E703A;
}

/* Disabled */
.wall .modal .modal-content #uploadForm .input-file input[type=file]:disabled + .input-file-btn {
    background-color: #eee;
}

/* Список c превью */
/*.wall .modal .modal-content #uploadForm .input-file-list {*/
/*    padding: 10px 0;*/
/*    margin-bottom: 0;*/
/*}*/
/*.wall .modal .modal-content #uploadForm .input-file-list-item {*/
/*    display: inline-block;*/
/*    margin: 0 15px 15px;*/
/*    width: 150px;*/
/*    vertical-align: top;*/
/*    position: relative;*/
/*}*/
/*.wall .modal .modal-content #uploadForm .input-file-list-item img {*/
/*    width: 150px;*/
/*    margin-bottom: 5px;*/
/*}*/
/*.wall .modal .modal-content #uploadForm .input-file-list-name {*/
/*    text-align: center;*/
/*    display: block;*/
/*    font-size: 12px;*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*    margin-bottom: 0;*/
/*}*/
/*.wall .modal .modal-content #uploadForm .input-file-list-remove {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    top: 5px;*/
/*    right: 5px;*/
/*    background: #ff0202;*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    text-align: center;*/
/*    line-height: 16px;*/
/*    border-radius: 50%;*/
/*}*/

.wall .modal .modal-content #uploadForm button{
    padding: 4px 2px;
    color: #ffffff;
    background: #419152;
    border-style: none;
    border-radius: 4px;
    width: 100px;
    font-size: 18px;
    transition: background-color 0.1s;
}
.wall .modal .modal-content #uploadForm button:hover{
    cursor: pointer;
    background: #59be6e;

}
