.blur{

}

.wall {
    color: #ffffff;
    max-width: 1200px;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(211, 211, 211, 0.3);
    display: flex;
    border-radius: 10px;
    padding: 50px 90px;
    flex-direction: row;
    backdrop-filter: blur(5px);
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.wall .profile-image{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.wall .profile-image img {
    width: 256px;
    height: 256px;
    /*border: solid 4px rgba(255, 237, 160, 0.51);*/
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
    border-radius: 20px;
}

.wall .profile-image .upd-profile-picture {
    color: #ffffff;
    font-size: 18px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    margin-top: 15px;
    background: #45afc3;
    border: none;
    border-radius: 5px;
    transition: all .1s linear;
}

.wall .profile-image .upd-profile-picture:hover{
    background: #3a8aae;
    cursor: pointer;
}


.wall .profile-image .upd-profile-picture:hover .upd-profile-picture-text{
    /*transform: scale(1.04);*/
    color: #f8dada;

}

.wall .profile-image .upd-profile-picture:hover .icon{
    color: #f8dada;
}

.wall .profile-image .upd-profile-picture .icon{
    transform: scale(1.3);
    margin-right: 20px;
    transition: all .1s linear;

}

.wall .profile-username{
    margin-left: 70px;
    font-size: 64px;
    font-weight: 600;
}

/*Форма загрузки изображения*/

.wall .myModal{
    width: 400px;
    /*height: 200px;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    /*border: solid 1px #dad65b;*/
    background: rgba(78, 70, 92, 0.76);
    backdrop-filter: blur(5px);
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.wall .myModal .close{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0  10px;
    font-size: 32px;
}

.wall .myModal .close:hover{
    cursor: pointer;
    color: #ffa3a3;
}

.crop-container{
    display: none;
    width: 330px;
    height: 330px;
    align-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}
.crop-container img {
    max-width: 100%;
}

.wall .myModal .modal-content #uploadForm{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wall .myModal .modal-content #uploadForm *{
    margin-bottom: 20px;
}

.wall .myModal .modal-content #uploadForm .input-file {
    position: relative;
    display: inline-block;
}
.wall .myModal .modal-content #uploadForm .input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #479773;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.1s;
}
.wall .myModal .modal-content #uploadForm .input-file-text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
    font-size: 18px;
}
.wall .myModal .modal-content #uploadForm .input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.wall .myModal .modal-content #uploadForm .input-file input[type=file]:focus + .input-file-btn {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.wall .myModal .modal-content #uploadForm .input-file:hover .input-file-btn {
    background-color: #4fa57e;
}

/* Disabled */
.wall .myModal .modal-content #uploadForm .input-file input[type=file]:disabled + .input-file-btn {
    background-color: #eee;
}

.wall .myModal .modal-content #uploadForm button{
    padding: 4px 2px;
    color: #ffffff;
    background: #479773;
    border-style: none;
    border-radius: 4px;
    width: 100px;
    font-size: 18px;
    transition: background-color 0.1s;
}
.wall .myModal .modal-content #uploadForm button:hover{
    cursor: pointer;
    background: #4fa57e;

}

.wall .profile-username {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.wall .profile-username .edit-username{
    font-size: 32px;
    margin-left: 5px;
    user-select: none;
    transition: all .05s linear;
}

.wall .profile-username .edit-username:hover {
    color: #dddddd;
    transform: scale(1.05);
    cursor: pointer;
}

.wall #editUsernameModal {
    padding: 10px 30px;
}

.wall #editUsernameModal .input-username {
    font-size: 18px;

}

.wall #editUsernameModal #editUsernameForm {
    display: flex;
    margin-top: 10px;
}

.wall #editUsernameModal #editUsernameForm input {
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100%;

}

.wall #editUsernameModal #editUsernameForm input:focus {
    /*border: solid 2px #333;*/
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2) inset;
}

.wall #editUsernameModal #editUsernameForm button {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    background-color: #479773;
    color: #fff;
    border-radius: 0 5px 5px 0;
    transition: all .1s linear;
}

.wall #editUsernameModal #editUsernameForm button:hover {
    background-color: #4fa57e;
    color: #ddd;
    cursor: pointer;
}

#followButtons .modal-content{
    background: rgba(68, 68, 90, 0.96);
}

#followButtons .modal-content li{
    border: none;
    color: #ffffff;
    background: rgba(68, 68, 90, 0);
}

#followButtons .modal-content li button{
    justify-self: end;
}

#followButtons .modal-content ul .profile-pic {
    padding: 0;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

#followButtons .modal-content ul .profile-pic img{
    display: block;
    width: 100%;
}

.modal-backdrop {
    display: none !important;
}