/* Colors */
colors {
    /*https://coolors.co/818eef-7e8bec-7a87e8-6f7de2-6373dc-5866d7-4d58d2-3b45b1-283290*/
    --vista-blue: #818eefff;
    --tropical-indigo: #7e8becff;
    --tropical-indigo-2: #7a87e8ff;
    --glaucous: #6f7de2ff;
    --royal-blue-web-color: #6373dcff;
    --savoy-blue: #5866d7ff;
    --byzantine-blue: #4d58d2ff;
    --violet-blue: #3b45b1ff;
    --egyptian-blue: #283290ff;

}


.nunito{
             font-family: "Nunito", sans-serif;
             font-optical-sizing: auto;
             font-weight: 300;
             font-style: normal;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0; overflow: hidden
}

.bg-blue {
    background: url("../images/wave_background.svg") no-repeat center center fixed;
}

.bg-pink {
    background: url("../images/wave_background_pink.svg") no-repeat center center fixed;
}

.grad-blue {
    background: linear-gradient(9deg, rgba(33,30,59,1) 45%, rgba(65,66,134,1) 100%);
}

.grad-pink {
    background: linear-gradient(9deg, rgb(59 30 51) 45%, rgb(95 65 134) 100%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

.blur {
    min-height: 100%;
    max-width: inherit;
    backdrop-filter: blur(5px);
    padding: 20px 300px 0 300px;
}

.header {
    backdrop-filter: blur(4px);
    color: #fff;
    padding: 0 300px;
    max-height: 62px;
    box-shadow: 0px -10px 10px 5px rgba(34, 60, 80, 0.35) inset;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px;
    max-height: 62px;
}

.header nav a {
    color: #fff;
    text-decoration: none;
}

/* Стили для логотипа */
.logo {
    display: flex;
    align-items: center;
    transition: all .1s linear;
    user-select: none;

}

.logo:hover {
    transform: scale(1.1);
    color: #e3e3e3;
}

.logo:hover .logo-pic {
    transform: rotate(180deg);
}

.logo .logo-pic {
    font-size: 36px;
    margin-right: 3px;
    transition: transform .4s ease-out;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

/* Стили для строки поиска */
.search-bar {
    display: flex;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 320px;
}

.search-bar input:focus {
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2) inset;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color: #5866d7ff;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}



.search-bar button:hover{
    background-color: #4451e3;
}
.search-bar button:hover span{
    transform: scale(1.1);
}

/* Стили для информации о пользователе */
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px; /* Измените размер в соответствии с вашим изображением профиля */
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    transition: all .1s linear;
    box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.22);
}

.user-info img:hover {
    transform: scale(1.1);
    border-radius:10px;
}

.user-info span {
    font-size: 20px;
    transition: all .1s linear;

}

.user-info span:hover {
    transform: scale(1.02);
    color: #ddd


;
}

.log-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.log-buttons .log-btn{
    padding: 0 6px;
    background: #3d94af;
    /*border: solid 1px #4b58af;*/
    border-radius: 5px;
    transition: all .1s linear;
    box-shadow: -1px 4px 10px 4px rgba(34, 60, 80, 0.22);

}
