<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/favicon.svg">
    <title>VibeNet</title>
</head>
<body class="nunito">
<div th:replace="~{fragments/header :: header}"></div>
<div class="blur">


    <h1>Welcome to VibeNet!</h1>


    <p>This is a simple social network application built with Spring Boot and Thymeleaf.</p>
</div>
</body>
</html>