<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" href="images/favicon.svg">
    <title>VibeNet | Личный кабинет</title>
</head>
<body class="nunito" style="display: none">
<div th:replace="~{fragments/header :: header}"></div>
<div class="blur">
    <div class="wall">
        <div class="profile-image">
            <img th:if="${avatar}" th:src="'data:image/png;base64,' + ${avatar}" alt="Profile Picture" />
            <img th:unless="${avatar}" src="images/profile_image.png" alt="Default Image" />
            <button id="updatePhotoButton" class="upd-profile-picture"><span class="upd-profile-picture-text">Обновить фотографию</span><span class="material-icons icon">image</span></button >
        </div>

        <!-- Модальное окно -->
        <div id="uploadPhotoModal" class="myModal" style="display: none">
            <!-- Содержимое модального окна -->
            <span class="close" id="close-profile-photo-modal">&times;</span>
            <div class="modal-content">
                <div class="crop-container" id="crop-container">
                    <img id="imagePreview" src="" alt="" style="max-width: 100%; display: none" />
                </div>
                <form id="uploadForm" enctype="multipart/form-data">
                    <label class="input-file">
                        <input type="file" id="fileInput" name="file" accept="image/*" required>
                        <span class="input-file-btn">Выберите файл</span>
                        <span class="input-file-text">Максимум 512 КБ</span>
                    </label>
<!--                    <div class="input-file-list"></div>-->
                    <button type="submit">Загрузить</button>
                </form>
            </div>
        </div>

        <div class="profile-username">
            <span th:text="${username}" class="username">User Name</span>
            <span class="material-icons edit-username" title="Изменить имя" id="edit-username-btn">mode_edit</span>
        </div>
        <!-- Модальное окно -->
        <div id="editUsernameModal" class="myModal" style="display: none">
            <span class="close" id="close-username-modal">&times;</span>
            <!-- Содержимое модального окна -->
            <div class="modal-content">
                <span class="input-username">Максимальная длина 15 символов</span>
                <form id="editUsernameForm" enctype="multipart/form-data">
                    <input type="text" id="usernameInput" name="username"  autocomplete="no" placeholder="Введите новое имя" required>
                    <button type="submit">Обновить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>